
    $font-family: 'Noto Sans Display', sans-serif;
    $font-famalyTitle: "Caveat", cursive;
    $font1: 100;
    $font2: 200;
    $font4: 400;
    $font6: 600;

    $fsize1: 18px;
    $fsize2: 24px;
    $fsize3: 28px;
    $fsize4: 36px;
    $fontTitle: 42px;

    $colorOrange: orange;
    $colorMajor: black;
    $colorDark: #111315;
    $colorCard: #24262A;
    $colorHover: white;

    $mtTitle: 120px;
    $mbTtitle: 80px;

    $padd: 15px 50px;

